/* Sidebar */
.sidebar-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.my-sidebar {
  /* height: 100%; */
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
}
.my-sidebar .nav-ul {
  padding-top: 2rem;
  padding-left: 0.8rem;
}

.my-sidebar .nav-link {
  font-weight: 500;
  color: rgb(142, 142, 142) !important;
}

.my-sidebar .nav-link:hover,
.my-sidebar .nav-link:active {
  color: #fff !important;
}

/* Footer */

footer p {
  margin: 0;
  padding: 0;
}

.my-footer {
  padding: 8px;
  margin: 0;
}

.booking-grid-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.roaddy-booking-cell {
  height: 35px;
  border: 1px solid black;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}
.green {
  background-color: green;
}
.new-booking {
  background-color: black;
  color: #fff;
}

.roaddy-printable {
  display: none;
}
@media print {
  .non-printable {
    display: none;
  }

  .roaddy-printable {
    display: block;
  }
  /* on modal open bootstrap adds class "modal-open" to body, so you can handle that case and hide body */
    body.modal-open {
        visibility: hidden;
    }

    body.modal-open .modal .modal-header,
    body.modal-open .modal .modal-body {
        visibility: visible; /* make visible modal body and header */
    }
}
